// Work Area Start //

.work-area {
    margin-top: 1rem;

    .list-group {
        box-shadow: 0 3px 3px rgba(0,0,0, .2), 0 3px 3px rgba(0,0,0, .2);
        #workBtnLink1 {
            cursor: pointer;
        }

        #workBtnLink2 {
            cursor: pointer;
        }

        #workBtnLink3 {
            cursor: pointer;
        }
    }

    img {
        width: 100%;
    }
}

// Work Area ENd //